// @import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

form {
  max-width: 40em;
  margin: 3em auto;
  padding: 0 1em;
}

p.error {
  color: red;

  &::before {
    display: inline;
    content: "⚠ ";
  }
}

.success {
  color: green;
}

.fail {
  color: red;
}
